section.categories-list
  h1.visually-hidden Сервис объявлений "Куплю - продам"
  ul.categories-list__wrapper
    +category({title: "Дом", img: "img/cat.jpg", link: "#", qty: 81})
    +category({title: "Электроника", img: "img/cat02.jpg", link: "#", qty: 62})
    +category({title: "Одежда", img: "img/cat03.jpg", link: "#", qty: 106})
    +category({title: "Спорт/отдых", img: "img/cat04.jpg", link: "#", qty: 106})
    +category({title: "Авто", img: "img/cat05.jpg", link: "#", qty: 106})
    +category({title: "Книги", img: "img/cat06.jpg", link: "#", qty: 106})
