header.header(class=currentUser && `header--logged`)
  .header__wrapper
    a.header__logo.logo(href=`/`)
      img(src=`/img/logo.svg`, width=`179`, height=`34`, alt=`Логотип Куплю Продам`)
    include header_nav
    form.header.search(method=`get`, action=`/search`, autocomplete=`off`)
      input(type=`search`, placeholder=`Поиск`, aria-label=`Поиск`, name=`query`)
      .search__icon
      .search__close-btn
    if currentUser
      .header__dropdown
        .header__avatar.avatar
          +avatar(currentUser)
        .header__dropdown-content
          a.header__dropdown-item(href=`/my/settings`) Настройки
          a.header__dropdown-item(href=`/offers/add`) Создать объявление
          a.header__dropdown-item(href=`/logout`) Выход

    a.header__input(href=`/login`) Вход и регистрация
