include ../../mixins/mixins
doctype html
html(lang="ru", data-meta=JSON.stringify(meta))
  head
    include head
  body
    include header
    main.page-content
      block content
    include footer
    include scripts
