extends ../layouts/base/layout

block content
  +categories(`Категории`, categories, category)
  +ticket-list(category, `Предложения из категориии ${category}`, offers, true)
    b.js-qty #{offers.length}
