extends ../layouts/base/layout

block content
  if hasData
    +categories(`Сервис объявлений "Куплю - продам"`, categories)
    +ticket-list(`Самое свежее`, `Самые новые предложения`, latest)
    +ticket-list(`Самые обсуждаемые`, `Самы обсуждаемые предложения`, popular)
  else
    .message
      .message-text
        p На сайте еще не опубликовано ни одного объявления.
      a.message__link.btn.btn--big(href=`/login`) Вход и регистрация
