extends ../layouts/base/layout

block content
  section.ticket-form
    .ticket-form__wrapper
      .ticket-form__title Изменить пароль
      .ticket-form__tile
        form.ticket-form__form.form(action=`?_csrf=${csrf}`, method=`post`, autocomplete=`off`)
          .ticket-form__content
            .ticket-form__row
              if errors && errors.oldPassword
                .form__field.form__field--invalid
                  input#oldPassword.js-field(type=`password`, name=`oldPassword`)
                  label(for=`oldPassword`) Старый пароль
                  span.form__helper-text #{errors.oldPassword}
              else
                .form__field
                  input#oldPassword.js-field(type=`password`, name=`oldPassword`)
                  label(for=`oldPassword`) Старый пароль

            .ticket-form__row
              if errors && errors.newPassword
                .form__field.form__field--invalid
                  input#newPassword.js-field(type=`password`, name=`newPassword`)
                  label(for=`newPassword`) Новый пароль
                  span.form__helper-text #{errors.newPassword}
              else
                .form__field
                  input#newPassword.js-field(type=`password`, name=`newPassword`)
                  label(for=`newPassword`) Новый пароль

            .ticket-form__row
              if errors && errors.confirmPassword
                .form__field.form__field--invalid
                  input#confirmPassword.js-field(type=`password`, name=`confirmPassword`)
                  label(for=`confirmPassword`) Повторите новый пароль
                  span.form__helper-text #{errors.confirmPassword}
              else
                .form__field
                  input#confirmPassword.js-field(type=`password`, name=`confirmPassword`)
                  label(for=`confirmPassword`) Повторите новый пароль

          button.form__button.btn.btn--medium.js-button(type=`submit`) Сохранить
