extends ../layouts/base/layout

block content
  section.search-results
    h1.visually-hidden Результаты поиска
    .search-results__wrapper
      if offers.length > 0
        p.search-results__label
          | Найдено 
          span.js-results #{offers.length} публикаций
        ul.search-results__list
          each offer in offers
            +ticket-list-item(offer)(class="search-results__item")
      else
        .search-results__message
          p Не найдено ни одной публикации

  +ticket-list(`Самое свежее`, `Самые новые предложения`, latest)
